
 <div class="fondo">
     <div class="card-body">

         <form
                 id="loginform"
                 autocomplete="off"
                 [formGroup]="registerForm"
                  (ngSubmit)="crearUsuario()">

             <h3 class="box-title m-t-40 m-b-0 text-center titulo"><b>Ingrese datos {{ registerAs === 'user' ? 'del Usuario' : 'de la Empresa'}}</b></h3>
             <div class="form-group m-t-20">
                 <div class="col-xs-12">
                     <input class="form-control"
                             type="text"
                             placeholder="Usuario"
                             formControlName="username">
                 </div>
             </div>
             <div class="form-group ">
                 <div class="col-xs-12">
                     <input class="form-control"
                             type="text"
                             placeholder="Linkedin"
                             formControlName="linkedin">
                 </div>
             </div>
             <div class="form-group ">
              <div class="col-xs-12">
                  <input class="form-control"
                          type="text"
                          placeholder="Pais"
                          formControlName="country">
              </div>
          </div>
          <div class="form-group ">
           <div class="col-xs-12">
               <input class="form-control"
                       type="text"
                       placeholder="Repositorio"
                       formControlName="repository">
           </div>
       </div>
             <div class="form-group ">
                 <div class="col-xs-12">
                     <input class="form-control"
                             type="password"
                             placeholder="Password"
                             formControlName="password">
                 </div>
             </div>
             <div class="form-group ">
                 <div class="col-xs-12">
                     <input class="form-control"
                             type="password"
                             placeholder="Confirm Password"
                             formControlName="password2">
                 </div>
             </div>
             <div class="form-group ">
                <div class="col-xs-12">
                    <textarea class="form-control"
                            type="textarea"
                            placeholder="Ingrese una breve descripcion"
                            formControlName="description"></textarea>
                </div>
            </div>
             <div class="row">
                 <div class="col text-danger">

                 <p *ngIf="campoNoValido('Usuario')">* El nombre es obligatorio</p>
                     <p *ngIf="contrasenasNoValidas()">* Las contraseñas deben de ser iguales</p>


                 </div>
             </div>

             <div class="form-group text-center m-t-20">
                 <div class="col-xs-12">
                     <button class="btn btn-lg btn-block boton" type="submit" [disabled]="registerForm.invalid">Registrarse</button>
                 </div>
             </div>
             <div class="form-group m-b-0 m-t-2">
                 <div class="col-sm-12 text-center">
                     <p class="text-white"> Ya tiene una cuenta? <a routerLink="/login" class="text-info m-l-5"><b>Acceder</b></a></p>
                 </div>
             </div>

           </form>
     </div>
 </div>
