<div class="fondo pt-5">
  <div class="card-body">
    <form [formGroup]="form" (submit)="login()">
      <h3 class="box-title m-t-40 m-b-0 text-center titulo"><b>Login</b></h3>
      <div class="form-group m-t-20">
        <div class="col-xs-12">
          <input class="form-control" type="text" placeholder="Usuario" formControlName="user">
        </div>
      </div>
      <div class="form-group m-t-20">
        <div class="col-xs-12">
          <input class="form-control" type="password" placeholder="Contraseña" formControlName="password">
        </div>
      </div>

      <div class="form-group text-center mt-5">
        <div class="col-xs-12">
          <button class="btn btn-lg btn-block boton" type="submit" [disabled]="!form.valid" ngxLoading
            [loadingFlag]="loading" textInitial="Iniciar Sesión" textLoading="Cargando...">
          </button>
        </div>
      </div>
    </form>

  </div>
</div>
