
.contenedor{
  height:100vh;
  // height: 200px;
    background-color: black;
    color: rgb(236, 45, 77);
    display:flex;
    justify-content: center;
    align-items: center;

}
.btnNopageFound{
  background-color: rgb(236, 45, 77);
   color: aliceblue;

}
